*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*              Utility Components           */

:root {
  font-size: 62.5%;

  /*  Custom Properties    */

  /*  Main Color */
  --primary-color: #264653;

  /*  Secondary Color */
  --secondary-color: #e9c46a;

  /*  Secondary Color Modified */
  --secondary-color-m: #f4a261;

  /*  Tertiary Color */
  --tertiary-color: #2a9d8f;

  /*  Tertiary Color Modified */
  --tertiary-color-m: #2a9d9081;
}

body {
  /* font-family: ;
  line-height: ; */
  display: flex;
}

/*                       Miain Styling */

/*                              SIde Nav                     */
aside#side-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

div.side-nav__content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--secondary-color);
}

div#side-nav__content--logo {
  width: calc(3vw + 3vh);
}

ul.side-nav__content--social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

ul.side-nav__content--social a i {
  /* 20px => 2rem => {1rem + [(10/1500) * 100]} => Dynamic Value */
  font-size: calc(1rem + 0.6667vw);
  color: white;

  padding-bottom: calc(2rem + 0.6667vw);

  transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul.side-nav__content--social a i:hover,
ul.side-nav__content--social a i:active {
  color: var(--secondary-color);
}

/* List Items */
li {
  list-style: none;
}

/* Anchor states: hover, visited, focus, active, link */
/* ANchor */
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

/*              Main      Content        */
main {
  flex: 1;
}

/*              Main      NAV  Header        */

header#header {
  background-color: var(--primary-color);
  height: calc(3vw + 3vh);
  z-index: 2;
}

nav#header__main-nav {
  height: 100%;
}

ul.header__main-nav--links {
  /* Just for demo  */
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul.header__main-nav--links li {
  padding-right: 3vw;
}

ul.header__main-nav--links li a {
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem + 0.66667vw);
}

/* Creating hover effect */
ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: white;

  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before {
  top: 0;
  /* Transform origin is center by default */
  transform-origin: left;
}

ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  bottom: 0;
  /* Transform origin is center by default */
  transform-origin: right;
}

ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::after {
  transform: scaleX(1);
}
